@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;
}

.code-font {
    font-family: 'Fira Code', monospace;
}